<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Bean definitions -->
	<bean id="ticketingStore"
		class="com.walmart.ticketservice.persistance.InMemoryTicketStore">
		<property name="noOfSeats" value="${venue.capacity}" />
		<property name="seatHoldExpiryTime" value="${seathold.expiry}" />
	</bean>

	<bean id="ticketService" class="com.walmart.ticketservice.TicketingServiceImpl" />

	<!-- Set runtime properties -->
	<bean id="placeholderProperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:appconfig.properties" />
	</bean>

</beans>
